## Mortality Data

In [1]:
import pandas as pd

### Read Data

- Unzip using the unzip filename command in terminal

- Update relative path to file on url below

In [3]:

col_names = [
    "Year",
    "358 Cause recoded",
    "State",
    "County"
]

col_width = [(101, 105), (149, 152), (20, 22), (22, 25)]

# put link to the unzipped file
data_07 = pd.read_fwf("00_source_data/VS07MORT.DUSMCPUB", colspecs=col_width, names=col_names)

In [4]:
data_07

         Year  358 Cause recoded  State  County
0        2007                 88    NaN     NaN
1        2007                429    NaN     NaN
2        2007                125    NaN     NaN
3        2007                 81    NaN     NaN
4        2007                231    NaN     NaN
...       ...                ...    ...     ...
2428338  2007                374    NaN     NaN
2428339  2007                150    NaN     NaN
2428340  2007                358    NaN     NaN
2428341  2007                357    NaN     NaN
2428342  2007                362    NaN     NaN

[2428343 rows x 4 columns]

### Using data from cdc wonder

In [2]:
coc_mapping = pd.read_csv("COC mapping.csv")

In [17]:
coc_mapping

,State,STNAME,CoC Code,Coc,CTYNAME,FIPS code
0,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013
1,CA,California,CA-600,Los Angeles City & County,Los Angeles County,6037
2,CA,California,CA-601,San Diego City and County,San Diego County,6073
3,CA,California,CA-500,San Jose/Santa Clara City & County,Santa Clara County,6085
4,CA,California,CA-609,San Bernardino City & County,San Bernardino County,6071
5,CA,California,CA-501,San Francisco,San Francisco County,6075
6,CO,Colorado,CO-503,Metropolitan Denver,Adams County,8001
7,CO,Colorado,CO-503,Metropolitan Denver,Arapahoe County,8005
8,CO,Colorado,CO-503,Metropolitan Denver,Boulder County,8013
9,CO,Colorado,CO-503,Metropolitan Denver,Broomfield County,8014
10,CO,Colorado,CO-503,Metropolitan Denver,Denver County,8031
11,CO,Colorado,CO-503,Metropolitan Denver,Douglas County,8035
12,CO,Colorado,CO-503,Metropolitan Denver,Jefferson County,8059
13,DC,District of Columbia,DC-500,District of Columbia,District of Columbia,11001
14,FL,Florida,FL-501,Tampa/Hillsborough County,Hillsborough County,12057
15,GA,Georgia,GA-500,Atlanta,Fulton County,13121
16,IL,Illinois,IL-510,Chicago,Cook County,17031
17,MA,Massachusetts,MA-500,Boston,Suffolk County,25025
18,MI,Michigan,MI-501,Detroit,Wayne County,26163
19,NV,Nevada,NV-500,Las Vegas/Clark County,Clark County,32003
20,NY,New York,NY-600,New York City,Bronx County,36005
21,NY,New York,NY-600,New York City,Kings County,36047
22,NY,New York,NY-600,New York City,New York County,36061
23,NY,New York,NY-600,New York City,Queens County,36081
24,NY,New York,NY-600,New York City,Richmond County,36085
25,PA,Pennsylvania,PA-500,Philadelphia,Philadelphia County,42101
26,TX,Texas,TX-700,"Houston, Pasadena, Conroe/Harris, Ft. Bend, Mo...",Harris County,48201
27,TX,Texas,TX-700,"Houston, Pasadena, Conroe/Harris, Ft. Bend, Mo...",Montgomery County,48339
28,TX,Texas,TX-700,"Houston, Pasadena, Conroe/Harris, Ft. Bend, Mo...",Fort Bend County,48157
29,TX,Texas,TX-503,Austin/Travis County,Travis County,48453
30,WA,Washington,WA-500,Seattle/King,King County,53033

## Drug Deaths

In [27]:
drugdeaths0720 = pd.read_csv("drugdeaths0720.txt", sep = "\t")

In [28]:
drugdeaths0720.head(10)

,Notes,State,State Code,County,County Code,Year,Year Code,Cause of death,Cause of death Code,Deaths,Population,Crude Rate
0,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2010.0,2010.0,Accidental poisoning by and exposure to other ...,X44,12.0,131346.0,Unreliable
1,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2015.0,2015.0,Accidental poisoning by and exposure to narcot...,X42,15.0,126427.0,Unreliable
2,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2016.0,2016.0,Accidental poisoning by and exposure to other ...,X44,10.0,125770.0,Unreliable
3,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2017.0,2017.0,Accidental poisoning by and exposure to other ...,X44,10.0,124756.0,Unreliable
4,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2018.0,2018.0,Accidental poisoning by and exposure to narcot...,X42,10.0,126770.0,Unreliable
5,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2019.0,2019.0,Accidental poisoning by and exposure to narcot...,X42,10.0,125922.0,Unreliable
6,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2020.0,2020.0,Accidental poisoning by and exposure to antiep...,X41,14.0,127450.0,Unreliable
7,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2020.0,2020.0,Accidental poisoning by and exposure to narcot...,X42,15.0,127450.0,Unreliable
8,NaN,Arizona,4.0,"Cochise County, AZ",4003.0,2020.0,2020.0,Accidental poisoning by and exposure to other ...,X44,12.0,127450.0,Unreliable
9,NaN,Arizona,4.0,"Coconino County, AZ",4005.0,2013.0,2013.0,Accidental poisoning by and exposure to other ...,X44,17.0,136539.0,Unreliable

In [30]:
drugs0720 = pd.merge(coc_mapping, drugdeaths0720, left_on=["STNAME", "FIPS code"], right_on=["State","County Code"], how="left", indicator=True)

In [31]:
drugs0720["_merge"].value_counts()

_merge
both          1415
left_only        1
right_only       0
Name: count, dtype: int64

In [32]:
drugdeaths21 = pd.read_csv("drugdeaths21.txt", sep = "\t")

In [33]:
drugs21 = pd.merge(coc_mapping, drugdeaths21, left_on=["STNAME", "FIPS code"], right_on=["State","County Code"], how="left", indicator=True)

In [34]:
drugs21["_merge"].value_counts()

_merge
both          176
left_only       0
right_only      0
Name: count, dtype: int64

In [39]:
drugdata = pd.concat([drugs0720, drugs21])

In [40]:
drugdata.head()

,State_x,STNAME,CoC Code,Coc,CTYNAME,FIPS code,Notes,State_y,State Code,County,County Code,Year,Year Code,Cause of death,Cause of death Code,Deaths,Population,Crude Rate,_merge
0,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,2007.0,2007.0,Accidental poisoning by and exposure to antiep...,X41,60.0,3711954.0,1.6,both
1,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,2007.0,2007.0,Accidental poisoning by and exposure to narcot...,X42,200.0,3711954.0,5.4,both
2,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,2007.0,2007.0,Accidental poisoning by and exposure to other ...,X44,149.0,3711954.0,4.0,both
3,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,2007.0,2007.0,Intentional self-poisoning by and exposure to ...,X61,21.0,3711954.0,0.6,both
4,AZ,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,2007.0,2007.0,Intentional self-poisoning by and exposure to ...,X62,19.0,3711954.0,Unreliable,both

In [41]:
drugdata.columns

Index(['State_x', 'STNAME', 'CoC Code', 'Coc', 'CTYNAME', 'FIPS code', 'Notes',
       'State_y', 'State Code', 'County', 'County Code', 'Year', 'Year Code',
       'Cause of death', 'Cause of death Code', 'Deaths', 'Population',
       'Crude Rate', '_merge'],
      dtype='object')

In [46]:
alldrugdata = drugdata[['STNAME', 'CoC Code', 'Coc', 'CTYNAME', 'FIPS code','County Code', 'Year',
       'Cause of death', 'Deaths']]

In [66]:
alldrugdata.head()

,STNAME,CoC Code,Coc,CTYNAME,FIPS code,County Code,Year,Cause of death,Deaths
0,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,Accidental poisoning by and exposure to antiep...,60.0
1,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,Accidental poisoning by and exposure to narcot...,200.0
2,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,Accidental poisoning by and exposure to other ...,149.0
3,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,Intentional self-poisoning by and exposure to ...,21.0
4,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,Intentional self-poisoning by and exposure to ...,19.0

In [50]:
alldrugdatafinal = alldrugdata.groupby(['STNAME', 'CoC Code', 'Coc', 'CTYNAME', 'FIPS code','County Code', 'Year'])["Deaths"].sum().reset_index()

In [67]:
alldrugdatafinal.head()

,STNAME,CoC Code,Coc,CTYNAME,FIPS code,County Code,Year,Deaths
0,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2007.0,559.0
1,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2008.0,517.0
2,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2009.0,560.0
3,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2010.0,582.0
4,Arizona,AZ-502,"Phoenix,Mesa/Maricopa",Maricopa County,4013,4013.0,2011.0,607.0

### Check for missing drug deaths values

In [68]:
years = [i for i in range(2007,2022)]
for county in coc_mapping["CTYNAME"].unique():
    tmp_data = alldrugdatafinal[alldrugdatafinal["CTYNAME"] == county]
    tmp_year = tmp_data["Year"].unique()
    if len(tmp_year) != 15:
        print(f"data for {county}")
        print(f"Missing years : {list(set(years) - set(tmp_year))}")

data for Broomfield County
Missing years : [2016, 2017, 2018, 2019, 2020, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
data for Douglas County
Missing years : [2008, 2010, 2015, 2007]
data for Fort Bend County
Missing years : [2008, 2013]

## Suicide Data

In [69]:
mhdata0720 = pd.read_csv("mentalhealth0720.txt", sep = "\t")

In [70]:
mhdata0720merge = pd.merge(coc_mapping, mhdata0720, left_on=["STNAME", "FIPS code"], right_on=["State","County Code"], how="left", indicator=True)

In [71]:
mhdata0720merge["_merge"].value_counts()

_merge
both          1719
left_only        1
right_only       0
Name: count, dtype: int64

In [73]:
mhdata21 = pd.read_csv("mentalhealth21.txt", sep = "\t")

In [74]:
mhdata21merge = pd.merge(coc_mapping, mhdata21, left_on=["STNAME", "FIPS code"], right_on=["State","County Code"], how="left", indicator=True)

In [75]:
mhdata21merge["_merge"].value_counts()

_merge
both          187
left_only       0
right_only      0
Name: count, dtype: int64

In [76]:
mhdata = pd.concat([mhdata0720merge, mhdata21merge])

In [77]:
allmhdata = mhdata[['STNAME', 'CoC Code', 'Coc', 'CTYNAME', 'FIPS code','County Code', 'Year',
       'Cause of death', 'Deaths']]

In [78]:
allmhfinal = allmhdata.groupby(['STNAME', 'CoC Code', 'Coc', 'CTYNAME', 'FIPS code','County Code', 'Year'])["Deaths"].sum().reset_index()

### Check for missing suicide values

In [79]:
years = [i for i in range(2007,2022)]
for county in coc_mapping["CTYNAME"].unique():
    tmp_data = allmhfinal[allmhfinal["CTYNAME"] == county]
    tmp_year = tmp_data["Year"].unique()
    if len(tmp_year) != 15:
        print(f"data for {county}")
        print(f"Missing years : {list(set(years) - set(tmp_year))}")

data for Broomfield County
Missing years : [2016, 2017, 2018, 2019, 2020, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
data for Douglas County
Missing years : [2007]
data for Richmond County
Missing years : [2007]
data for Fort Bend County
Missing years : [2007]