## Mortality Data

In [1]:
import pandas as pd

### Read Data

- Unzip using the unzip filename command in terminal

- Update relative path to file on url below

In [3]:

col_names = [
    "Year",
    "358 Cause recoded",
    "State",
    "County"
]

col_width = [(101, 105), (149, 152), (20, 22), (22, 25)]

#put link to the unzipped file
data_07 = pd.read_fwf("00_source_data/VS07MORT.DUSMCPUB", colspecs=col_width, names=col_names)

In [4]:
data_07

         Year  358 Cause recoded  State  County
0        2007                 88    NaN     NaN
1        2007                429    NaN     NaN
2        2007                125    NaN     NaN
3        2007                 81    NaN     NaN
4        2007                231    NaN     NaN
...       ...                ...    ...     ...
2428338  2007                374    NaN     NaN
2428339  2007                150    NaN     NaN
2428340  2007                358    NaN     NaN
2428341  2007                357    NaN     NaN
2428342  2007                362    NaN     NaN

[2428343 rows x 4 columns]