## Merging all the files

In [1]:
import pandas as pd
import numpy as np

### Read all intermediate files

In [2]:
drug_deaths = pd.read_csv("drug_deaths.csv")
suicide_deaths = pd.read_csv("suicide_deaths.csv")
pop_race = pd.read_csv("population_race.csv")
hic_pit_pov_unemp = pd.read_csv("HIC_PIT_POV_UNEMP_2007_2021.csv")

In [3]:
## ðŸ›‘Broomfield Na replace when necessary
drug_deaths["Drug Deaths"] = drug_deaths["Drug Deaths"].fillna(0)
suicide_deaths["Suicide Deaths"] = suicide_deaths["Suicide Deaths"].fillna(0)

assert drug_deaths["Drug Deaths"].isna().sum() == 0
assert suicide_deaths["Suicide Deaths"].isna().sum() == 0

### Combine the data

In [4]:
hic_pit_pov_unemp = hic_pit_pov_unemp.sort_values(by=["CoC Number", "year"])
hic_pit_pov_unemp.head(17)

,Unnamed: 0,CoC Number,year,permanent_housing,homeless,poverty,unemployment_rate
266,266,AZ-502,2007,2014.0,8448,3832171.0,3.2
247,247,AZ-502,2008,2523.0,7189,3903475.0,5.1
228,228,AZ-502,2009,2529.0,7889,3972331.0,8.9
209,209,AZ-502,2010,3013.0,6999,3772257.0,9.5
190,190,AZ-502,2011,3214.0,5831,3824961.0,8.5
171,171,AZ-502,2012,4479.0,6485,3885344.0,7.3
152,152,AZ-502,2013,4717.0,5889,3951626.0,6.6
133,133,AZ-502,2014,5478.0,5918,4023019.0,5.8
114,114,AZ-502,2015,5319.0,5631,4103850.0,5.1
95,95,AZ-502,2016,5806.0,5702,4175417.0,4.7
76,76,AZ-502,2017,6498.0,5605,4239908.0,4.3
57,57,AZ-502,2018,7354.0,6298,4344976.0,4.1
38,38,AZ-502,2019,6641.0,6614,4416338.0,4.2
19,19,AZ-502,2020,6195.0,7419,4508350.0,7.2
0,0,AZ-502,2021,6205.0,3650,4431245.0,4.5
267,267,CA-500,2007,1170.0,7202,1720787.0,4.6
248,248,CA-500,2008,1462.0,7202,1736343.0,6.0

In [5]:
# group by CoC
drug_deaths_grouped = (
    drug_deaths.groupby(["CoC Code", "Coc", "Year"])["Drug Deaths"].sum().reset_index()
)
drug_deaths_grouped.head(17)

   CoC Code                                 Coc  Year  Drug Deaths
0    AZ-502               Phoenix,Mesa/Maricopa  2007        575.0
1    AZ-502               Phoenix,Mesa/Maricopa  2008        526.0
2    AZ-502               Phoenix,Mesa/Maricopa  2009        566.0
3    AZ-502               Phoenix,Mesa/Maricopa  2010        609.0
4    AZ-502               Phoenix,Mesa/Maricopa  2011        627.0
5    AZ-502               Phoenix,Mesa/Maricopa  2012        630.0
6    AZ-502               Phoenix,Mesa/Maricopa  2013        705.0
7    AZ-502               Phoenix,Mesa/Maricopa  2014        695.0
8    AZ-502               Phoenix,Mesa/Maricopa  2015        707.0
9    AZ-502               Phoenix,Mesa/Maricopa  2016        797.0
10   AZ-502               Phoenix,Mesa/Maricopa  2017        969.0
11   AZ-502               Phoenix,Mesa/Maricopa  2018       1079.0
12   AZ-502               Phoenix,Mesa/Maricopa  2019       1223.0
13   AZ-502               Phoenix,Mesa/Maricopa  2020       1616.0
14   AZ-502               Phoenix,Mesa/Maricopa  2021       1697.0
15   CA-500  San Jose/Santa Clara City & County  2007        141.0
16   CA-500  San Jose/Santa Clara City & County  2008        114.0

In [6]:
suicide_deaths_grouped = (
    suicide_deaths.groupby(["CoC Code", "Coc", "Year"])["Suicide Deaths"]
    .sum()
    .reset_index()
)
suicide_deaths_grouped.head(17)

   CoC Code                                 Coc  Year  Suicide Deaths
0    AZ-502               Phoenix,Mesa/Maricopa  2007           568.0
1    AZ-502               Phoenix,Mesa/Maricopa  2008           540.0
2    AZ-502               Phoenix,Mesa/Maricopa  2009           524.0
3    AZ-502               Phoenix,Mesa/Maricopa  2010           564.0
4    AZ-502               Phoenix,Mesa/Maricopa  2011           621.0
5    AZ-502               Phoenix,Mesa/Maricopa  2012           604.0
6    AZ-502               Phoenix,Mesa/Maricopa  2013           629.0
7    AZ-502               Phoenix,Mesa/Maricopa  2014           654.0
8    AZ-502               Phoenix,Mesa/Maricopa  2015           673.0
9    AZ-502               Phoenix,Mesa/Maricopa  2016           691.0
10   AZ-502               Phoenix,Mesa/Maricopa  2017           678.0
11   AZ-502               Phoenix,Mesa/Maricopa  2018           737.0
12   AZ-502               Phoenix,Mesa/Maricopa  2019           733.0
13   AZ-502               Phoenix,Mesa/Maricopa  2020           716.0
14   AZ-502               Phoenix,Mesa/Maricopa  2021           739.0
15   CA-500  San Jose/Santa Clara City & County  2007           144.0
16   CA-500  San Jose/Santa Clara City & County  2008           161.0

In [7]:
# group and sum the population df
dfs = []

for col in pop_race.columns[7:]:
    tmp_grp = pop_race.groupby(["CoC Code", "Coc", "Year"])[col].sum().reset_index()
    dfs.append(tmp_grp)

In [8]:
dfs[2]

    CoC Code                    Coc  Year   Female
0     AZ-502  Phoenix,Mesa/Maricopa  2007    29848
1     AZ-502  Phoenix,Mesa/Maricopa  2008    29180
2     AZ-502  Phoenix,Mesa/Maricopa  2009    25991
3     AZ-502  Phoenix,Mesa/Maricopa  2010    26683
4     AZ-502  Phoenix,Mesa/Maricopa  2011  1959712
..       ...                    ...   ...      ...
280   WA-500           Seattle/King  2017  1099169
281   WA-500           Seattle/King  2018  1109291
282   WA-500           Seattle/King  2019  1118153
283   WA-500           Seattle/King  2020  1128795
284   WA-500           Seattle/King  2021  1111203

[285 rows x 4 columns]

### Merges

In [9]:
# concat by axis =1

dfs_concat = pd.concat(dfs, axis=1)
dfs_concat

,CoC Code,Coc,Year,Population,CoC Code,Coc,Year,Male,CoC Code,Coc,...,Year,Two or More Races,CoC Code,Coc,Year,Non Hispanic,CoC Code,Coc,Year,Hispanic
0,AZ-502,"Phoenix,Mesa/Maricopa",2007,60969,AZ-502,"Phoenix,Mesa/Maricopa",2007,31121,AZ-502,"Phoenix,Mesa/Maricopa",...,2007,3098,AZ-502,"Phoenix,Mesa/Maricopa",2007,33167,AZ-502,"Phoenix,Mesa/Maricopa",2007,27802
1,AZ-502,"Phoenix,Mesa/Maricopa",2008,59600,AZ-502,"Phoenix,Mesa/Maricopa",2008,30420,AZ-502,"Phoenix,Mesa/Maricopa",...,2008,3306,AZ-502,"Phoenix,Mesa/Maricopa",2008,32312,AZ-502,"Phoenix,Mesa/Maricopa",2008,27288
2,AZ-502,"Phoenix,Mesa/Maricopa",2009,52910,AZ-502,"Phoenix,Mesa/Maricopa",2009,26919,AZ-502,"Phoenix,Mesa/Maricopa",...,2009,3267,AZ-502,"Phoenix,Mesa/Maricopa",2009,28793,AZ-502,"Phoenix,Mesa/Maricopa",2009,24117
3,AZ-502,"Phoenix,Mesa/Maricopa",2010,54424,AZ-502,"Phoenix,Mesa/Maricopa",2010,27741,AZ-502,"Phoenix,Mesa/Maricopa",...,2010,3294,AZ-502,"Phoenix,Mesa/Maricopa",2010,29386,AZ-502,"Phoenix,Mesa/Maricopa",2010,25038
4,AZ-502,"Phoenix,Mesa/Maricopa",2011,3875371,AZ-502,"Phoenix,Mesa/Maricopa",2011,1915659,AZ-502,"Phoenix,Mesa/Maricopa",...,2011,98327,AZ-502,"Phoenix,Mesa/Maricopa",2011,2724688,AZ-502,"Phoenix,Mesa/Maricopa",2011,1150683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,WA-500,Seattle/King,2017,2205001,WA-500,Seattle/King,2017,1105832,WA-500,Seattle/King,...,2017,115438,WA-500,Seattle/King,2017,1991092,WA-500,Seattle/King,2017,213909
281,WA-500,Seattle/King,2018,2228488,WA-500,Seattle/King,2018,1119197,WA-500,Seattle/King,...,2018,118486,WA-500,Seattle/King,2018,2009856,WA-500,Seattle/King,2018,218632
282,WA-500,Seattle/King,2019,2249653,WA-500,Seattle/King,2019,1131500,WA-500,Seattle/King,...,2019,121099,WA-500,Seattle/King,2019,2025362,WA-500,Seattle/King,2019,224291
283,WA-500,Seattle/King,2020,2274315,WA-500,Seattle/King,2020,1145520,WA-500,Seattle/King,...,2020,124094,WA-500,Seattle/King,2020,2044645,WA-500,Seattle/King,2020,229670
284,WA-500,Seattle/King,2021,2252305,WA-500,Seattle/King,2021,1141102,WA-500,Seattle/King,...,2021,125722,WA-500,Seattle/King,2021,2020561,WA-500,Seattle/King,2021,231744

In [13]:
dfs_concat_filtered = dfs_concat[
    [
        "Population",
        "Male",
        "Female",
        "White",
        "Black or African American",
        "American Indian and Alaska Native",
        "Asian",
        "Native Hawaiian and Other Pacific Islander",
        "Two or More Races",
        "Non Hispanic",
        "Hispanic",
    ]
]

In [14]:
dfs_concat_filtered.head()

,Population,Male,Female,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Two or More Races,Non Hispanic,Hispanic
0,60969,31121,29848,49894,3613,2261,1937,166,3098,33167,27802
1,59600,30420,29180,48065,3766,2332,1985,146,3306,32312,27288
2,52910,26919,25991,42087,3550,1949,1909,148,3267,28793,24117
3,54424,27741,26683,43435,3559,2005,1982,149,3294,29386,25038
4,3875371,1915659,1959712,3303462,212348,101821,149099,10314,98327,2724688,1150683

In [15]:
other_cols = dfs[0][["CoC Code", "Year", "Coc"]]
other_cols.head()

  CoC Code  Year                    Coc
0   AZ-502  2007  Phoenix,Mesa/Maricopa
1   AZ-502  2008  Phoenix,Mesa/Maricopa
2   AZ-502  2009  Phoenix,Mesa/Maricopa
3   AZ-502  2010  Phoenix,Mesa/Maricopa
4   AZ-502  2011  Phoenix,Mesa/Maricopa

In [16]:
combined_pop_data = pd.concat([dfs_concat_filtered, other_cols], axis=1)
combined_pop_data.head()

,Population,Male,Female,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Two or More Races,Non Hispanic,Hispanic,CoC Code,Year,Coc
0,60969,31121,29848,49894,3613,2261,1937,166,3098,33167,27802,AZ-502,2007,"Phoenix,Mesa/Maricopa"
1,59600,30420,29180,48065,3766,2332,1985,146,3306,32312,27288,AZ-502,2008,"Phoenix,Mesa/Maricopa"
2,52910,26919,25991,42087,3550,1949,1909,148,3267,28793,24117,AZ-502,2009,"Phoenix,Mesa/Maricopa"
3,54424,27741,26683,43435,3559,2005,1982,149,3294,29386,25038,AZ-502,2010,"Phoenix,Mesa/Maricopa"
4,3875371,1915659,1959712,3303462,212348,101821,149099,10314,98327,2724688,1150683,AZ-502,2011,"Phoenix,Mesa/Maricopa"

In [17]:
# 1 Merge: hic_pit_pov_unemp_merge > population

hic_pit_pov_unemp_merge = pd.merge(
    hic_pit_pov_unemp,
    combined_pop_data,
    left_on=["CoC Number", "year"],
    right_on=["CoC Code", "Year"],
    how="inner",
    indicator=True,
)
hic_pit_pov_unemp_merge.head()

,Unnamed: 0,CoC Number,year,permanent_housing,homeless,poverty,unemployment_rate,Population,Male,Female,...,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Two or More Races,Non Hispanic,Hispanic,CoC Code,Year,Coc,_merge
0,266,AZ-502,2007,2014.0,8448,3832171.0,3.2,60969,31121,29848,...,2261,1937,166,3098,33167,27802,AZ-502,2007,"Phoenix,Mesa/Maricopa",both
1,247,AZ-502,2008,2523.0,7189,3903475.0,5.1,59600,30420,29180,...,2332,1985,146,3306,32312,27288,AZ-502,2008,"Phoenix,Mesa/Maricopa",both
2,228,AZ-502,2009,2529.0,7889,3972331.0,8.9,52910,26919,25991,...,1949,1909,148,3267,28793,24117,AZ-502,2009,"Phoenix,Mesa/Maricopa",both
3,209,AZ-502,2010,3013.0,6999,3772257.0,9.5,54424,27741,26683,...,2005,1982,149,3294,29386,25038,AZ-502,2010,"Phoenix,Mesa/Maricopa",both
4,190,AZ-502,2011,3214.0,5831,3824961.0,8.5,3875371,1915659,1959712,...,101821,149099,10314,98327,2724688,1150683,AZ-502,2011,"Phoenix,Mesa/Maricopa",both

In [18]:
hic_pit_pov_unemp_merge["_merge"].value_counts()

both          285
left_only       0
right_only      0
Name: _merge, dtype: int64

In [19]:
hic_pit_pov_unemp_merge = hic_pit_pov_unemp_merge.drop(
    columns=["_merge", "year", "CoC Code", "Unnamed: 0"]
)

In [24]:
# merge 2: hic_pit_pov_unemp + population > drug deaths
drug_deaths_merge = pd.merge(
    hic_pit_pov_unemp_merge,
    drug_deaths_grouped,
    left_on=["CoC Number", "Year"],
    right_on=["CoC Code", "Year"],
    how="inner",
    indicator=True,
)
drug_deaths_merge.head()

,CoC Number,permanent_housing,homeless,poverty,unemployment_rate,Population,Male,Female,White,Black or African American,...,Native Hawaiian and Other Pacific Islander,Two or More Races,Non Hispanic,Hispanic,Year,Coc_x,CoC Code,Coc_y,Drug Deaths,_merge
0,AZ-502,2014.0,8448,3832171.0,3.2,60969,31121,29848,49894,3613,...,166,3098,33167,27802,2007,"Phoenix,Mesa/Maricopa",AZ-502,"Phoenix,Mesa/Maricopa",575.0,both
1,AZ-502,2523.0,7189,3903475.0,5.1,59600,30420,29180,48065,3766,...,146,3306,32312,27288,2008,"Phoenix,Mesa/Maricopa",AZ-502,"Phoenix,Mesa/Maricopa",526.0,both
2,AZ-502,2529.0,7889,3972331.0,8.9,52910,26919,25991,42087,3550,...,148,3267,28793,24117,2009,"Phoenix,Mesa/Maricopa",AZ-502,"Phoenix,Mesa/Maricopa",566.0,both
3,AZ-502,3013.0,6999,3772257.0,9.5,54424,27741,26683,43435,3559,...,149,3294,29386,25038,2010,"Phoenix,Mesa/Maricopa",AZ-502,"Phoenix,Mesa/Maricopa",609.0,both
4,AZ-502,3214.0,5831,3824961.0,8.5,3875371,1915659,1959712,3303462,212348,...,10314,98327,2724688,1150683,2011,"Phoenix,Mesa/Maricopa",AZ-502,"Phoenix,Mesa/Maricopa",627.0,both

In [19]:
drug_deaths_merge["_merge"].value_counts()

_merge
both          285
left_only       0
right_only      0
Name: count, dtype: int64

In [25]:
drug_deaths_merge = drug_deaths_merge.drop(columns=["_merge", "CoC Code", "Coc_y"])

In [26]:
# merge 3: hic_pit_pov_unemp + population + drug deaths > suicide deaths

suicide_deaths_merge = pd.merge(
    drug_deaths_merge,
    suicide_deaths_grouped,
    left_on=["CoC Number", "Year"],
    right_on=["CoC Code", "Year"],
    how="inner",
    indicator=True,
)
suicide_deaths_merge.head()

,CoC Number,permanent_housing,homeless,poverty,unemployment_rate,Population,Male,Female,White,Black or African American,...,Two or More Races,Non Hispanic,Hispanic,Year,Coc_x,Drug Deaths,CoC Code,Coc,Suicide Deaths,_merge
0,AZ-502,2014.0,8448,3832171.0,3.2,60969,31121,29848,49894,3613,...,3098,33167,27802,2007,"Phoenix,Mesa/Maricopa",575.0,AZ-502,"Phoenix,Mesa/Maricopa",568.0,both
1,AZ-502,2523.0,7189,3903475.0,5.1,59600,30420,29180,48065,3766,...,3306,32312,27288,2008,"Phoenix,Mesa/Maricopa",526.0,AZ-502,"Phoenix,Mesa/Maricopa",540.0,both
2,AZ-502,2529.0,7889,3972331.0,8.9,52910,26919,25991,42087,3550,...,3267,28793,24117,2009,"Phoenix,Mesa/Maricopa",566.0,AZ-502,"Phoenix,Mesa/Maricopa",524.0,both
3,AZ-502,3013.0,6999,3772257.0,9.5,54424,27741,26683,43435,3559,...,3294,29386,25038,2010,"Phoenix,Mesa/Maricopa",609.0,AZ-502,"Phoenix,Mesa/Maricopa",564.0,both
4,AZ-502,3214.0,5831,3824961.0,8.5,3875371,1915659,1959712,3303462,212348,...,98327,2724688,1150683,2011,"Phoenix,Mesa/Maricopa",627.0,AZ-502,"Phoenix,Mesa/Maricopa",621.0,both

In [27]:
suicide_deaths_merge["_merge"].value_counts()

both          285
left_only       0
right_only      0
Name: _merge, dtype: int64

In [28]:
suicide_deaths_merge = suicide_deaths_merge.drop(
    columns=["_merge", "CoC Code", "Coc_x"]
)

In [29]:
suicide_deaths_merge.head()

,CoC Number,permanent_housing,homeless,poverty,unemployment_rate,Population,Male,Female,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Two or More Races,Non Hispanic,Hispanic,Year,Drug Deaths,Coc,Suicide Deaths
0,AZ-502,2014.0,8448,3832171.0,3.2,60969,31121,29848,49894,3613,2261,1937,166,3098,33167,27802,2007,575.0,"Phoenix,Mesa/Maricopa",568.0
1,AZ-502,2523.0,7189,3903475.0,5.1,59600,30420,29180,48065,3766,2332,1985,146,3306,32312,27288,2008,526.0,"Phoenix,Mesa/Maricopa",540.0
2,AZ-502,2529.0,7889,3972331.0,8.9,52910,26919,25991,42087,3550,1949,1909,148,3267,28793,24117,2009,566.0,"Phoenix,Mesa/Maricopa",524.0
3,AZ-502,3013.0,6999,3772257.0,9.5,54424,27741,26683,43435,3559,2005,1982,149,3294,29386,25038,2010,609.0,"Phoenix,Mesa/Maricopa",564.0
4,AZ-502,3214.0,5831,3824961.0,8.5,3875371,1915659,1959712,3303462,212348,101821,149099,10314,98327,2724688,1150683,2011,627.0,"Phoenix,Mesa/Maricopa",621.0

In [30]:
final_data = suicide_deaths_merge[
    [
        "CoC Number",
        "Coc",
        "Year",
        "permanent_housing",
        "homeless",
        "poverty",
        "unemployment_rate",
        "Population",
        "Male",
        "Female",
        "White",
        "Black or African American",
        "American Indian and Alaska Native",
        "Asian",
        "Native Hawaiian and Other Pacific Islander",
        "Two or More Races",
        "Non Hispanic",
        "Hispanic",
        "Drug Deaths",
        "Suicide Deaths",
    ]
]

In [31]:
# write data
final_data.to_csv("project_data.csv", index=True)